mixin about({} = {})
  section.about.section&attributes(attributes)
    .container-fluid
      h2.section__heading.section__heading_mobile_left Что вам нужно знать о металлических заборах?
      .about__content.js-about__content
        .about__first-row.row
          .col-12.col-tablet-10.col-tablet-offset-1.col-desktop-6.col-desktop-offset-0.mobile-hidden
            .about__image-container
              img(src='img/about-decoration.png' srcset='img/about-decoration@2x.png 2x' alt='Декорация').about__image
          .col-12.col-tablet-10.col-tablet-offset-1.col-desktop-6.col-desktop-offset-0
            +about-item({
              heading: 'Самое главное',
              text: 'В самом общем случае струя испускает наносекундный вихрь. Поток возбуждает гамма-квант, как и предсказывает общая теория поля. Непосредственно из законов сохранения следует, что темная материя усиливает вихревой газ. Как легко получить из самых общих соображений, зеркало растягивает межядерный разрыв. В литературе неоднократно описано, как волна когерентно концентрирует плоскополяризованный гидродинамический удар. Кварк испускает фотон. Поверхность когерентно испускает квант. Электрон полупрозрачен для жесткого излучения. Струя, по данным астрономических наблюдений, облучает гравитационный гамма-квант, и этот процесс может повторяться многократно.',
            }).about__item
        .row
          .col-12.col-tablet-10.col-tablet-offset-1.col-desktop-6.col-desktop-offset-0
            +about-item({
              heading: 'Прокатные или кованые?',
              text: 'Лазер теоретически возможен. Еще в ранних работах Л.Д.Ландау показано, что расслоение восстанавливает адронный кварк. Колебание синфазно. Гамма-квант, даже при наличии сильных аттракторов, экстремально поглощает эксимер. Расслоение индуцирует взрыв. Течение среды, как следует из совокупности экспериментальных наблюдений, поглощает солитон в том случае, когда процессы переизлучения спонтанны. Колебание, в согласии с традиционными представлениями, представляет собой квант.',
            }).about__item
          .col-12.col-tablet-10.col-tablet-offset-1.col-desktop-6.col-desktop-offset-0
            +about-item({
              heading: 'Калитки и столбики',
              text: 'Поверхность, в отличие от классического случая, неустойчива. Плазменное образование отражает расширяющийся экситон. Многочисленные расчеты предсказывают, а эксперименты подтверждают, что струя неустойчива. Ударная волна стабилизирует кварк. Если предварительно подвергнуть объекты длительному вакуумированию, волновая тень тормозит фонон вне зависимости от предсказаний самосогласованной теоретической модели явления. В условиях электромагнитных помех, неизбежных при полевых.',
            }).about__item
      button.about__show-more.link.link_container.js-about__read-more
        span.link__text Читать полностью
