mixin calculator-hero({ page } = {})
  section.calculator-hero
    .container-fluid
      .calculator-hero__breadcrumbs-container
        +breadcrumbs({
          items: [
            {
              title: 'Заборуз',
              href: '#',
            },
            {
              title: page,
              href: '#',
            }
          ],
        })
      h1.calculator-hero__heading= page
      .calculator-hero__content.row
        .col-12.col-tablet-4.col-desktop-3
          .calculator-hero__image-container
            img(src='img/calculator-hero.png' srcset='img/calculator-hero@2x.png 2x' alt='Декорация').calculator-hero__image
        .col-12.col-tablet-8.col-desktop-9
          p.calculator-hero__text Технология коммуникации однозначно отражает субъект политического процесса. Принимая во внимание позицию Ф.Фукуямы, институциализация ограничивает системный коммунизм, что может привести к военно-политической и идеологической конфронтации с Японией. Как писал С.Хантингтон, информационно-технологическая революция существенно сохраняет референдум. Харизматическое лидерство, в первом приближении, важно определяет эмпирический социализм. Культ личности обретает современный культ личности.
