mixin calculator-info
  .calculator-info
    .calculator-info__item
      .calculator-info__item-image-container
        img(src='img/calculator-info-1.png' alt='').calculator-info__item-image
      .calculator-info__item-content
        h3.calculator-info__item-heading Лайт
        p.calculator-info__item-text Лайт профиль это самый популярный вариант.
        a.link(href='#').calculator-info__item-link Подробнее
    .calculator-info__item
      .calculator-info__item-image-container
        img(src='img/calculator-info-2.png' alt='').calculator-info__item-image
      .calculator-info__item-content
        h3.calculator-info__item-heading 15×15 мм
        .calculator-info__item-percent +20%
        p.calculator-info__item-text 15-миллиметрвый профиль тоже часто используют, но не так часто
        a.link(href='#').calculator-info__item-link Подробнее
    .calculator-info__item
      .calculator-info__item-image-container
        img(src='img/calculator-info-3.png' alt='').calculator-info__item-image
      .calculator-info__item-content
        h3.calculator-info__item-heading 20×20 мм
        .calculator-info__item-percent +35%
        p.calculator-info__item-text Самый надёжный, но, одновременно, и самый дорогой профиль.
        a.link(href='#').calculator-info__item-link Подробнее
