mixin default-popups
  div
    +popup({
      name: 'zoom-1',
    })
      img(src='img/big-gates.png' alt='')

    +popup({
      name: 'zoom-2',
    })
      img(src='img/big-small-section.png' alt='')

    +popup({
      name: 'text',
      type: 'text',
      heading: 'Описание',
    })
      p Равным образом реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации направлений прогрессивного развития. Повседневная практика показывает, что укрепление и развитие структуры позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных условий.

    +popup({
      name: 'call',
      heading: 'Заказ звонка',
    })
      +call-form

    +popup({
      name: 'order',
      heading: 'Оформить заказ',
    })
      +call-form

    +popup-light({
      name: 'calculator-info',
    })
      +calculator-info

    +popup-light({
      name: 'calculator-info-2',
    })
      +calculator-info
