mixin hero({} = {})
  section.hero
    .container-fluid
      .row
        .col-tablet-5
          img(src='img/hero-image.png' alt='Рендер примера работы' aria-hidden).hero__image
        .col-tablet-7
          .hero__content
            h1.hero__heading Изготовление металлических заборов и ограждений из металла
            p.hero__text Кинематическое уравнение Эйлера астатично. Собственный кинетический момент участвует в погрешности определения курса меньше, чем прецессионный подвес. Динамическое уравнение Эйлера позволяет пренебречь колебаниями корпуса, хотя этого в любом случае.
            +call-to-action({
              href: '#',
            }).hero__call-to-action Подобрать забор и ворота
