mixin how-to-order({} = {})
  section.how-to-order.section
    .container-fluid
      h1.section__heading Как заказать забор?
      ul.how-to-order__list
        li.how-to-order__item
          .how-to-order__item-icon-container
            img(src='img/how-to-order-1.svg' alt='Выберите').how-to-order__item-icon
          p.how-to-order__item-text Выберите продукцию на сайте с помощью 
            a(href='#').how-to-order__item-link.link калькулятора
        li.how-to-order__item
          .how-to-order__item-icon-container
            img(src='img/how-to-order-2.svg' alt='Оформите заказ').how-to-order__item-icon
          p.how-to-order__item-text Оформите заказ с помощью звонка или 
            a(href='#').how-to-order__item-link.link заявки на сайте
        li.how-to-order__item
          .how-to-order__item-icon-container
            img(src='img/how-to-order-3.svg' alt='Встретьте замерщика').how-to-order__item-icon
          p.how-to-order__item-text Встретьте замерщика на объекте и внесите предоплату
        li.how-to-order__item
          .how-to-order__item-icon-container
            img(src='img/how-to-order-4.svg' alt='Изготовим и покрасим').how-to-order__item-icon
          p.how-to-order__item-text Мы изготовим и покрасим изделие
        li.how-to-order__item
          .how-to-order__item-icon-container
            img(src='img/how-to-order-5.svg' alt='Примите установленный забор').how-to-order__item-icon
          p.how-to-order__item-text Примите установленный забор и осуществите окончательный расчёт
