mixin mobile-table
  .mobile-table.js-mobile-table
    .mobile-table__header
      h3.mobile-table__heading.js-mobile-table__heading
      button.mobile-table__close.js-mobile-table__close
    .mobile-table__body.js-mobile-table__body
