mixin mobile-phones()
  .mobile-phones.js-mobile-phones
    a(href='tel:84955803036').mobile-phones__item 8 495 580 30 36
    a(href='tel:88005552470').mobile-phones__item 8 800 555 24 70
    +call-to-action.mobile-phones__button.js-popup__link(data-popup='call') Заказать звонок
    .mobile-phones__schedule  ПН–ПТ ∙ 9:00–18:00
