mixin mobile-table-button({ heading = '', target } = {})
  button.mobile-table-button(data-table-heading=heading data-table-target=target).js-mobile-table__link&attributes(attributes) Смотреть таблицу
