.breadcrumbs {
  display: inline-block;

  &__item {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;

    &_last {
      color: #8a8a8a;
    }
  }

  &__divider {
    font-size: 14px;
    line-height: 1.57;
    font-weight: 400;
    color: #c6c6c6;
  }
}
