.section {

  &__heading {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.45;
    text-align: center;
    
    @include breakpoint-only(mobile) {
      letter-spacing: 1px;
    }

    @include breakpoint-up(tablet) {
      font-size: 28px;
      line-height: 1.14;
    }

    &_mobile_left {
      @include breakpoint-only(mobile) {
        text-align: left;
      } 
    }
  }
}
