+base({
  title: 'Калькулятор ворот',
  gradient: true,
})
  +calculator-hero({
    page: 'Калькулятор ворот',
  })
  +calculator-select-section({
    items: [
      {
        title: '№1520',
        image: 'img/section-gate-1.png',
        image2x: 'img/section-gate-1@2x.png',
        price: '25 000',
        sale: '21 000',
        isPopular: true,
        inStock: true,
        type: 'gate',
      },
      {
        title: '№1521',
        image: 'img/section-gate-2.png',
        image2x: 'img/section-gate-2@2x.png',
        price: '28 000',
        isPopular: true,
        inStock: true,
        type: 'gate',
      },
      {
        title: '№1522',
        image: 'img/section-gate-3.png',
        image2x: 'img/section-gate-3@2x.png',
        price: '30 500',
        isPopular: true,
        type: 'gate',
      },
      {
        title: '№1523',
        image: 'img/section-gate-6.png',
        image2x: 'img/section-gate-6@2x.png',
        price: '35 000',
        isPopular: true,
        type: 'gate',
      },
      {
        title: '№1524',
        image: 'img/section-gate-3.png',
        image2x: 'img/section-gate-3@2x.png',
        price: '25 000',
        isPopular: true,
        type: 'gate',
      },
      {
        title: '№1525',
        image: 'img/section-gate-6.png',
        image2x: 'img/section-gate-6@2x.png',
        price: '25 000',
        isPopular: true,
        inStock: true,
        type: 'gate',
      },
      {
        title: '№1526',
        image: 'img/section-gate-7.png',
        image2x: 'img/section-gate-7@2x.png',
        price: '25 000',
        isPopular: true,
        inStock: true,
        type: 'gate',
      },
      {
        title: '№1526',
        image: 'img/section-gate-7.png',
        image2x: 'img/section-gate-7@2x.png',
        price: '20 000',
        type: 'gate',
      },
    ],
  })
  +calculator-fence({
    type: 'gate',
  })
  +product-information
