+base({
  title: 'Калькулятор заборов',
  gradient: true,
})
  +calculator-hero({
    page: 'Калькулятор заборов',
  })
  +calculator-select-section({
    items: [
      {
        title: '№1520',
        image: 'img/section-1.png',
        image2x: 'img/section-1@2x.png',
        price: '65 000',
        sale: '45 000',
        isPopular: true,
        inStock: true,
      },
      {
        title: '№1537',
        image: 'img/section-2.png',
        image2x: 'img/section-2@2x.png',
        price: '48 000',
        isPopular: true,
        inStock: true,
      },
      {
        title: '№1536',
        image: 'img/section-3.png',
        image2x: 'img/section-3@2x.png',
        price: '50 500',
        isPopular: true,
      },
      {
        title: '№1535',
        image: 'img/section-4.png',
        image2x: 'img/section-4@2x.png',
        price: '55 000',
        isPopular: true,
      },
      {
        title: '№1534',
        image: 'img/section-5.png',
        image2x: 'img/section-5@2x.png',
        price: '55 000',
        isPopular: true,
      },
      {
        title: '№1533',
        image: 'img/section-6.png',
        image2x: 'img/section-6@2x.png',
        price: '55 000',
        isPopular: true,
        inStock: true,
      },
      {
        title: '№1532',
        image: 'img/section-7.png',
        image2x: 'img/section-7@2x.png',
        price: '55 000',
        isPopular: true,
        inStock: true,
      },
      {
        title: '№1531',
        image: 'img/section-8.png',
        image2x: 'img/section-8@2x.png',
        price: '55 000',
        isPopular: true,
      },
    ],
  })
  +calculator-fence
  +product-information
